*{
    margin:0;
    box-sizing: border-box;
}
h1{
    background-color: aquamarine;
    height: 50px;
    text-align: center;
}

.flexContainer{
    display: flex;
    justify-content: space-evenly;
}
.flexItem{
    background-color: rgb(172, 175, 175);
    margin: 25px;
    height: 350px;
}
.container{
    display: flex;
    flex-direction: column;
}

